    <div class="row">
      <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav nav-pills nav-stacked">
            <li class="dropdown">
              <a href="/collecions/all" class="dropdown-toggle" data-toggle="dropdown">Shop<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {% for link in linklists.shop-navigation.links %}
                  {% if linklists[link.handle] == empty %}
                    <li class="{% if link.active %}active{% endif %}"><a href="{{ link.url }}">{{ link.title }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li class="dropdown">
              <a href="/collecions/all" class="dropdown-toggle" data-toggle="dropdown">Collection<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {% for link in linklists.collection-navigation.links %}
                  {% if linklists[link.handle] == empty %}
                    <li class="{% if link.active %}active{% endif %}"><a href="{{ link.url }}">{{ link.title }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li class="dropdown">
              <a href="/collecions/all" class="dropdown-toggle" data-toggle="dropdown">Campaign<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {% for link in linklists.campaign-navigation.links %}
                  {% if linklists[link.handle] == empty %}
                    <li class="{% if link.active %}active{% endif %}"><a href="{{ link.url }}">{{ link.title }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li class="dropdown">
              <a href="/collecions/all" class="dropdown-toggle" data-toggle="dropdown">Projects<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {% for link in linklists.projects-navigation.links %}
                  {% if linklists[link.handle] == empty %}
                    <li class="{% if link.active %}active{% endif %}"><a href="{{ link.url }}">{{ link.title }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            {% for link in linklists.subnav.links %}
              {% if linklists[link.handle] == empty %}
                <li class="{% if link.active %}active{% endif %}"><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-md-12">
        <div class="collapse navbar-collapse">
          <ul class="nav nav-pills">
            {% for link in linklists.main-menu.links %}
              {% if linklists[link.handle] == empty %}
                <li class="{% if link.active %}active{% endif %}"><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      {% if template == 'collection' %}
      <div class="col-md-12">
        <div class="collapse navbar-collapse">
          <ul class="nav nav-pills">
          
            {% for link in linklists.shop-navigation.links %}
              {% if linklists[link.handle] == empty %}
                <li class="{% if link.active %}active{% endif %}"><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
      {% if template == 'page.collection' or template == 'page.collectionf14' or template == 'page.collectionf13' or template == 'page.collectionf12' or template == 'page.collectionf11' or template == 'page.collectionf10' or template == 'page.collectionf09' or template == 'page.collections14' or template == 'page.collections13' or template == 'page.collections12' or template == 'page.collections11' or template == 'page.collections10' or template == 'page.collections09' %}
      <div class="col-md-12">
        <div class="collapse navbar-collapse">
          <ul class="nav nav-pills">
          
            {% for link in linklists.collection-navigation.links %}
              {% if linklists[link.handle] == empty %}
                <li class="{% if link.active %}active{% endif %}"><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endif %}
            {% endfor %}
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                More Collections<span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                {% for link in linklists.collection-drop-navigation.links %}
                  {% if linklists[link.handle] == empty %}
                    <li class="{% if link.active %}active{% endif %}"><a href="{{ link.url }}">{{ link.title }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
      {% endif %}
      {% if template == 'page.projects' or template == 'page.projects2'  %}
      <div class="col-md-12">
        <div class="collapse navbar-collapse">
          <ul class="nav nav-pills">
          
            {% for link in linklists.project-navigation.links %}
              {% if linklists[link.handle] == empty %}
                <li class="{% if link.active %}active{% endif %}"><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endif %}
            {% endfor %}
            <!-- <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                More Collections<span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                {% for link in linklists.collection-drop-navigation.links %}
                  {% if linklists[link.handle] == empty %}
                    <li class="{% if link.active %}active{% endif %}"><a href="{{ link.url }}">{{ link.title }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li> -->
          </ul>
        </div>
      </div>
      {% endif %}
      {% if template == 'page.campaign' %}
      <div class="col-md-12">
        <div class="collapse navbar-collapse">
          <ul class="nav nav-pills">
          
            {% for link in linklists.collection-navigation.links %}
              {% if linklists[link.handle] == empty %}
                <li class="{% if link.active %}active{% endif %}"><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
      {% if template == 'page.projects' %}
      <div class="col-md-12">
        <div class="collapse navbar-collapse">
          <ul class="nav nav-pills">
          
            {% for link in linklists.projects-navigation.links %}
              {% if linklists[link.handle] == empty %}
                <li class="{% if link.active %}active{% endif %}"><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
      
    </div>