<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>

  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  <meta charset="utf-8" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->

  <title>
  {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <link rel="canonical" href="{{ canonical_url }}" /> 

  {% include 'fb-open-graph-tags' %}
  {% include 'twitter-cards' %}

  {{ 'bootstrap.css' | asset_url | stylesheet_tag }}
  
  {{ 'PixelRockStyles.css' | asset_url | stylesheet_tag }}
  {{ 'lightbox.css' | asset_url | stylesheet_tag }}
  {{ 'screen.css' | asset_url | stylesheet_tag }}
  
  {{ 'html5shiv.js' | asset_url | script_tag }}

  {{ content_for_header }}
  
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' | script_tag }}
  {{ 'jquery-migrate-1.2.0.min.js' | asset_url | script_tag }}
  
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}

  {% if template contains 'customers' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}
  {{ 'scripts.js' | asset_url | script_tag }}
  
</head>

<body>
  <nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-xs-2 hidden-sm hidden-md hidden-lg">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
      </div>
      <div class="col-xs-8 col-sm-6 col-sm-offset-0">
        <div class="center-block"><a href="/"><img src="{{ 'logo.gif' | asset_url }}" alt="{{ shop.name }}" class="img-responsive center-block navbar-brand" /></a></div>
      </div>
      <div class="col-xs-2 col-sm-1 col-sm-offset-5"> {% include 'customer_links' %}<a class="navbar-badge btn" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." template='<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'><span class="badge">{{ cart.item_count }}</span></a> </div>
    </div>
    {% include 'navigation' %}
    
  </div>
</nav>

  {% if template == "list-collections" %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><span>Product Collections</span></h1>
      </div> <!-- /.col-md-12 -->
    </div> <!-- /.row -->
    <div class="row">
      {% for collection in collections %}
        {% unless collection.all_products_count == 0 or collection.handle == "frontpage" %}
          {% include 'collection-loop' %}
        {% endunless %}
      {% endfor %}
    </div> <!-- /#collection.row -->
  </div> <!-- /.container -->
  {% else %}
    {{ content_for_layout }}
  {% endif %}


  <div class="footer">
  <div class="container"> 
  
    <footer class="row">
      <div class="col-xs-6">
      <p>&copy; Rochambeau 2014 | Pixel Rock Studios</p>
      </div>
      <div class="col-xs-6">
        
          {% if settings.twitter_link != blank %}<a href="{{ settings.twitter_link }}" title="{{ shop.name }} on Twitter"><img src="{{ 'twitterF.gif' | asset_url }}" alt="{{ settings.twitter_link }}" class="icon-social" /></a>{% endif %}
          {% if settings.facebook_link != blank %}<a href="{{ settings.facebook_link }}" title="{{ shop.name }} on Facebook"><img src="{{ 'facebookF.gif' | asset_url }}" alt="{{ settings.facebook_link }}" class="icon-social" /></a>{% endif %}
          {% if settings.youtube_link != blank %}<a href="{{ settings.youtube_link }}" title="{{ shop.name }} on YouTube" class="icon-social youtube">YouTube</a>{% endif %}
          {% if settings.atom_link != blank %}<a href="{{ settings.atom_link }}" title="{{ shop.name }} news" class="icon-social atom">Blog feed</a>{% endif %}
          {% if settings.instagram_link != blank %}<a href="{{ settings.instagram_link }}" title="{{ shop.name }} on Instagram"><img src="{{ 'instagramF.gif' | asset_url }}" alt="{{ settings.instagram_link }}" class="icon-social" /></a>{% endif %}
          {% if settings.pinterest_link != blank %}<a href="{{ settings.pinterest_link }}" title="{{ shop.name }} on Pinterest" class="icon-social pinterest">Pinterest</a>{% endif %}
          {% if settings.vimeo_link != blank %}<a href="{{ settings.vimeo_link }}" title="{{ shop.name }} on Vimeo" class="icon-social vimeo">Vimeo</a>{% endif %}
          {% if settings.tumblr_link != blank %}<a href="{{ settings.tumblr_link }}" title="{{ shop.name }} on Tumblr" class="icon-social tumblr">Tumblr</a>{% endif %}
          {% if settings.google_link != blank %}<a href="{{ settings.google_link }}" title="{{ shop.name }} on Google+" class="icon-social google">Google+</a>{% endif %}
        </div>
    </footer>
  </div>
</div>

    
  {{ 'jquery.flexslider-min.js' | asset_url | script_tag }}

  {% if settings.enable_product_image_zoom %}
    {{ 'jquery.zoom.min.js' | asset_url | script_tag }}
  {% endif %}
  {{ 'jquery.tweet.js' | asset_url | script_tag }}
  {{ 'jquery.fancybox.js' | asset_url | script_tag }}
  {{ 'jquery-1.11.0.min.js' | asset_url | script_tag }}
  {{ 'lightbox.js' | asset_url | script_tag }}
  
  {{ 'bootstrap.min.js' | asset_url | script_tag }}
  <script type="text/javascript">$('.navbar-badge').popover(options);</script>
</body>
</html>