<div class="container">
	<div class="row">
		<div class="col-xs-6 col-sm-4 col-md-3 bot30" >
			<img class="img-responsive center-block" src="{{ 'press1.jpg' | asset_url }}" />
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 bot30" >
			<img class="img-responsive center-block" src="{{ 'press2.jpg' | asset_url }}" />
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 bot30" >
			<img class="img-responsive center-block" src="{{ 'press3.jpg' | asset_url }}" />
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 bot30" >
			<img class="img-responsive center-block" src="{{ 'press4.jpg' | asset_url }}" />
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 bot30" >
			<img class="img-responsive center-block" src="{{ 'press1.jpg' | asset_url }}" />
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 bot30" >
			<img class="img-responsive center-block" src="{{ 'press2.jpg' | asset_url }}" />
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 bot30" >
			<img class="img-responsive center-block" src="{{ 'press3.jpg' | asset_url }}" />
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 bot30" >
			<img class="img-responsive center-block" src="{{ 'press4.jpg' | asset_url }}" />
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 bot30" >
			<img class="img-responsive center-block" src="{{ 'press1.jpg' | asset_url }}" />
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 bot30" >
			<img class="img-responsive center-block" src="{{ 'press2.jpg' | asset_url }}" />
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 bot30" >
			<img class="img-responsive center-block" src="{{ 'press3.jpg' | asset_url }}" />
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 bot30" >
			<img class="img-responsive center-block" src="{{ 'press4.jpg' | asset_url }}" />
		</div>
	</div>
</div>
