<div class="container">
	<div class="row">
		<div class="col-xs-6 col-sm-4 col-md-3 bot30" >
			<img class="img-responsive center-block" src="{{ 'rochambeau_f2013_01.JPG' | asset_url }}" />
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 bot30" >
			<img class="img-responsive center-block" src="{{ 'rochambeau_f2013_02.JPG' | asset_url }}" />
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 bot30" >
			<img class="img-responsive center-block" src="{{ 'rochambeau_f2013_03.JPG' | asset_url }}" />
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 bot30" >
			<img class="img-responsive center-block" src="{{ 'rochambeau_f2013_04.JPG' | asset_url }}" />
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 bot30" >
			<img class="img-responsive center-block" src="{{ 'rochambeau_f2013_05.JPG' | asset_url }}" />
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 bot30" >
			<img class="img-responsive center-block" src="{{ 'rochambeau_f2013_06.JPG' | asset_url }}" />
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 bot30" >
			<img class="img-responsive center-block" src="{{ 'rochambeau_f2013_07.JPG' | asset_url }}" />
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 bot30" >
			<img class="img-responsive center-block" src="{{ 'rochambeau_f2013_08.JPG' | asset_url }}" />
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 bot30" >
			<img class="img-responsive center-block" src="{{ 'rochambeau_f2013_09.JPG' | asset_url }}" />
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 bot30" >
			<img class="img-responsive center-block" src="{{ 'rochambeau_f2013_10.JPG' | asset_url }}" />
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 bot30" >
			<img class="img-responsive center-block" src="{{ 'rochambeau_f2013_11.JPG' | asset_url }}" />
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 bot30" >
			<img class="img-responsive center-block" src="{{ 'rochambeau_f2013_12.JPG' | asset_url }}" />
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 bot30" >
			<img class="img-responsive center-block" src="{{ 'rochambeau_f2013_13.JPG' | asset_url }}" />
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 bot30" >
			<img class="img-responsive center-block" src="{{ 'rochambeau_f2013_14.JPG' | asset_url }}" />
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 bot30" >
			<img class="img-responsive center-block" src="{{ 'rochambeau_f2013_15.JPG' | asset_url }}" />
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 bot30" >
			<img class="img-responsive center-block" src="{{ 'rochambeau_f2013_16.JPG' | asset_url }}" />
		</div>
	</div>
</div>
